body{
	font-family:"微软雅黑";
}
.rt{
	float:right;
}
#main{
	width:600px;
	height:600px;
	background:#bbada0;
	border-radius:10px;
	margin:0 auto;
	overflow:hidden;
}
p{
	width:480px;
	margin:0 auto;
	font-size:30px;
	font-family:Arial;
	font-weight:bold;
	padding-top:15px;
}
#stop{
	background:#bbada0;
	border-radius:5px;
	border:1px solid #ddd;
	text-decoration:none;
	font-size:30px;
}
#main .cell{
	float:left;
	border:1px solid #ddd;
	height:60px;
	width:60px;
	box-sizing:border-box;
	border-radius:6px;
	color:#666;
	font-weight:bold;
	text-align:center;
	line-height:60px;
	font-size:30px;
}
#main .cell2{
	float:left;
	border:1px solid #ddd;
	height:50px;
	width:50px;
	box-sizing:border-box;
	border-radius:6px;
	color:#666;
	font-weight:bold;
	text-align:center;
	line-height:50px;
	font-size:25px;
}


#gameover>div,#gamestart>div,#timeover>div,#gamePause>div{
	width:100%;
	height:100%;
	background:#555;
	opacity:0.5;
}
#gameover>p,#gamestart>p,#timeover>p,#gamePause>p{
	font-size:40px;
	width:300px;
	height:180px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-150px;
	padding-top:20px;
	background:#fff;
	border-radius:10px;
	text-align:center;
	line-height:1.5em;
	border:1px solid #edcf72;
}
#gameover>p,#timeover>p,#gamePause>p{
	height:200px;
	padding-top:0;
}
#gamestart .btn{
	padding:10px;
	color:#fff;
	background:#9f8b77;
	border-radius:6px;
	text-decoration:none;
	position:relative;
	top:20px;
}
#gameover .btn,#timeover .btn,#gamePause .btn{
	padding:10px;
	color:#fff;
	background:#9f8b77;
	border-radius:6px;
	text-decoration:none;
	position:relative;
}
#gamePause>p{
	line-height:200px;
}
#gameover,#gamestart,#timeover,#gamePause{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100;
}
#gameover,#timeover,#gamePause{
	display:none;
}